[Desktop Entry]
Type=Application
Name=Flush
GenericName=BitTorrent client
GenericName[ru]=BitTorrent клиент
Comment=Downloading files by BitTorrent protocol
Comment[ru]=Скачивание файлов по BitTorrent протоколу
Icon=gnome-session-switch
Exec=flush-start %F
MimeType=application/x-bittorrent
Categories=GTK;Network;FileTransfer;P2P;
Version=1.0

