[Desktop Entry]
Encoding=UTF-8
Version=0.2
Name=KdeQEmu
GenericName=A KDE frontend for QEmu cpu emulator
Terminal=false
Icon=background.svgz
Type=Application
Categories=Application;System;
StartupNotify=true
Exec=kmdr-executor '/usr/share/apps/kdeqemu/kqemu.kmdr'