[Unit]
Description=High Performance Web Platform Based on Nginx and LuaJIT
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/openresty.pid
ExecStartPre=/usr/sbin/openresty -t
ExecStart=/usr/sbin/openresty
ExecStartPost=/bin/sleep 0.1
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -QUIT $MAINPID

[Install]
WantedBy=multi-user.target
