[Desktop Entry]
Encoding=UTF-8
Name=Jclic Author
Comment=Programa Educativo
Exec=java -jar /usr/games/JClic/jclicauthor.jar
Icon=jclic_aqua.png
Terminal=0
Type=Application
Categories=Education;Application
