#!/sbin/runscript
# Copyright 1999-2011 Gentoo Foundation
# Distributed under the terms of the GNU General Public License, v2
# $Header: /var/cvsroot/gentoo-x86/x11-base/xorg-server/files/xdm.initd-3,v 1.2 2011/01/22 15:30:07 lxnay Exp $

depend() {
	before xdm
}

start() {
	if ( lsmod | grep nvidia ) ; then 
		/usr/bin/eselect opengl set nvidia
		/bin/ln -f /etc/X11/xorg.conf-nvidia /etc/X11/xorg.conf
	else
		/usr/bin/eselect opengl set xorg-x11
		/bin/rm -f /etc/X11/xorg.conf		
	fi
}

