#!/sbin/runscript
# Copyright 1999-2005 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: $

depend() {
	need net
}

start() {
        if [ ! ${DHCPHELPER_OPTS} ]; then
		einfo "You must specify some options to dhcp-helper."
		einfo "Edit the /etc/conf.d/dhcp-helper file."
		einfo "See the man dhcp-helper for options."
		return 1
        else
		ebegin "Starting dhcp-helper"
	        /usr/sbin/dhcp-helper -r /var/run/dhcp-helper.pid ${DHCPHELPER_OPTS} 
	fi
	
	eend $?
}

stop() {
	ebegin "Stopping dhcp-helper"
        start-stop-daemon --stop --quiet --pidfile /var/run/dhcp-helper.pid
	eend $?
}
