[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Romanian definitions dictionary
Exec=dixit /var/lib/dixit/dixit.qdb
Icon=/usr/share/pixmaps/dixit.ico
GenericName=A cross platform application for consulting off-line a Romanian definitions dictionary (DEX)
Comment=Dixit allows off-line word lookup, using the database of the project DEX online <http://dexonline.ro>
Name[de]=Rumänischen definitionen wörterbuch
GenericName[de]=Eine cross-plattform anwendung für die anhörung off-line ein Rumänischen definitionen wörterbuch (DEX)
Comment[de]=Dixit erlaubt Wort off-line nachschlagen, mit Hilfe der Datenbank des Projekts DEX online <http://dexonline.ro>
Name[en_GB]=Romanian definitions dictionary
GenericName[en_GB]=A cross platform application for consulting off-line a Romanian definitions dictionary (DEX)
Comment[en_GB]=Dixit allows off-line word lookup, using the database of the project DEX online <http://dexonline.ro>
Name[es]=Diccionario de definiciones rumano
GenericName[es]=Una aplicación multi-plataforma para la consulta off-line de un diccionario de definiciones rumano (DEX)
Comment[es]=Dixit permite búsqueda off-line de palabras, utilizando la base de datos del proyecto DEX online <http://dexonline.ro>
Name[fa]=تعاریف فرهنگ لغت رومانیای
GenericName[fa]=Une application multi-plateforme pour la consultation off-line d'un dictionnaire des définitions roumaine (DEX)
Comment[fa]=Dixit permet recherche off-line de mots, en utilisant la base de données du projet DEX online <http://dexonline.ro>
Name[fr]=Dictionnaire des définitions roumaine
GenericName[fr]=Une application multi-plateforme pour la consultation off-line d'un dictionnaire des définitions roumaine (DEX)
Comment[fr]=Dixit permet recherche off-line de mots, en utilisant la base de données du projet DEX online <http://dexonline.ro>
Name[it]=Dizionario delle definizioni rumeno
GenericName[it]=Un'applicazione multipiattaforma per la consultazione off-line di un dizionario delle definizioni rumeno (DEX)
Comment[it]=Dixit permessi di ricerca off-line di parola, utilizzando la banca dati del progetto DEX online <http://dexonline.ro>
Name[ko]=루마니아어 정의의 사전
GenericName[ko]=루마니아어 정의의 사전 off-line 컨설팅을위한 크로스 플랫폼 응용 프로그램입니다
Comment[ko]=Dixit allows off-line word lookup, using the database of the project DEX online <http://dexonline.ro>
Name[nl]=Roemeense definities woordenboek
GenericName[nl]=Een cross-platform applicatie voor het raadplegen van off-line een Roemeense definities woordenboek
Comment[nl]=Dixit woord kunt off-line opzoeken, met behulp van de database van het project DEX online <http://dexonline.ro>
Name[ro]=Dicţionar de definiţii române
GenericName[ro]=Program multi-platformă pentru consultarea off-line a mai multor dicţionare (DEX) ale limbii române
Comment[ro]=Dixit permite căutarea off-line de cuvinte, folosind baza de date a proiectului DEX online <http://dexonline.ro>
Name[ru]=Словарь Румынском определений.
GenericName[ru]=Крест платформа для приложений для консультаций off-lineсловарь румынском определений.
Comment[ru]=Dixit позволяет слово поиска off-line, с помощью базы данных проекта DEX online <http://dexonline.ro>
Terminal=false
TryExec=/usr/bin/dixit
Categories=Utility;Dictionary;
